
<nav class="navbar fixed-topnavbar-dark bg-primary">
    <h1 class="text-center" style="font-size: 2.5em;">Welcome to Dojo Activity Center</h1>
</nav>
<hr style="height: 2px; background-color: #337ab7; border: none;">

<div style="display: flex; justify-content: space-evenly;">
    <div style="border: 2px solid #337ab7; padding: 5em; box-sizing: border-box;">
        <partial name="_Registration"></partial>
    </div>


    <div style="border: 2px solid #337ab7; padding: 5em; box-sizing: border-box;">
        <partial name="_Login"></partial>
    </div>
</div>